html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}

html{
  background: white;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
   outline:none;
}

:root {
  --c-primary: #3664ec;
  --c-primary-deep: #1a4eea;
  --c-ok: #3664ec;
  --c-mis: #d44e30;
  --c-warn: #fba238;
}
.dark {
  --c-primary: #1a4eea;
  --c-primary-deep: #3664ec;
  --c-ok: #1a4eea;
  --c-mis: #ca4021;
  --c-warn: #e89430;
}

p {
  text-align: left;
}


ul {
  list-style: disc;
}

/* Transition */
.fade-in-enter-active {
  transition: all 1s ease;
}
.fade-out-leave-active {
  transition: all 0.5s ease;
}

.fade-out-leave-to,
.fade-in-enter-from {
  transform: translateY(10px);
  opacity: 0;
}
